<html>
    <head>
        <title>My handlebar test</title>
    </head>
    <body>
        <h2>
            {{title}}
        </h2>
        <ul>
            {{#each list}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>